<ul style="list-style-type:none;">
<% products.each do |product|%>
  <li style="border: 1px solid black; padding: 20px; margin:10px;">
  <%= link_to(render("productview",product: product), home_path(product))%>
  <table>
  <tr>
  <td>
   <%= form_with url:cart_index_path do |form| %>
        <div>
            <%= form.hidden_field :product_id, value: product.id%>
        </div>
        <div>
            <%= form.submit "Add to Cart" %>
        </div>
    <% end %>
 </td>
 <td>
  <%= form_with url:orders_path do |form| %>
        <div>
            <%= form.hidden_field :product_id, value: [product.id]%>
        </div>
        <div>
            <%= form.submit "Buy now" %>
        </div>
    <% end %>
    </td>
    </tr>
    </table>
  </li>
<%end%>
</ul>