<div style="text-align: center;">
    <h2>Your Orders</h2>
    <table>
        <thead>
            <th>Item</th>
            <th>Order status</th>
            <th>Order date</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Mobile Number</th>
            <th>Delivery Address</th>
            <th>Actions</th>
        </thead>
        <%@orderItems.each do |orderItem|%>
            <tr>
                <td><%=orderItem.product.title%></td>
                <td><%=orderItem.order.status%></td>
                <td><%=orderItem.order.purchase_date%></td>
                <td><%=orderItem.quantity%></td>
                <td><%=orderItem.sub_total%></td>
                <td><%=orderItem.order.mobile_number%></td>
                <td><%=orderItem.order.address+" "+orderItem.order.pincode+" "+orderItem.order.state%></td>
                <td>
                    <%if orderItem.order.received?%>
                        <%= button_to "Packed", order_path(orderItem.order), method: :put,params:{order:{status: :packed}}%>
                    <%elsif orderItem.order.packed?%>
                        <%=button_to "Shipped", order_path(orderItem.order), method: :put,params:{order:{status: :shipped}}%>
                    <%elsif orderItem.order.shipped?%>
                        <%= button_to "Delivered", order_path(orderItem.order), method: :put, params:{order:{status: :delivered}}%>
                    <%end%>
                </td>
            </tr>
        <%end%>
    </table>
</div>