<p><%=Date.today%></p>
<p>Dear, <%=@user.name%></p>

<p>Your store <%=@user.store.name%> receive a order <%=@item.product.title%> with quantity <%=@item.quantity%></p>


<h3>Regards,</h3>
<h3>E-Commerce</h3>